@model Arthes_2022.Models.Entities.Revista

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Revista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroEdicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroEdicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MesEdicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MesEdicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoEdicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoEdicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
