@model IEnumerable<Arthes_2022.Models.Entities.Revista>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroEdicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesEdicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoEdicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th>
                @Html.Label("Ações")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroEdicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesEdicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoEdicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
